* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tasksContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 20px;
  overflow-x: hidden;
}

.section {
  width: 100%;
  margin: 20px auto;
  background-color: #c1c1c1;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  min-height: 120px;
  border-radius: 8px;
}
